var config = {
  apiKey: "AIzaSyBfgnW8BhSWJAumv2GzNhQTkeNVSfOkATI",
  authDomain: "my-project-1504910585825.firebaseapp.com",
  databaseURL: "https://my-project-1504910585825.firebaseio.com",
  projectId: "my-project-1504910585825",
  storageBucket: "my-project-1504910585825.appspot.com",
  messagingSenderId: "783175081245"
};

export default config;
