.register {  
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
	grid-template-areas:
			". main ."
			"footer footer footer";
}

.register-form {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto auto auto auto 1fr;
  grid-template-areas:
		". welcome ."
		". link ."
		". firstname ."
    	". lastname ."
    	". email ."
    	". password ."
		". confirmpassword ."
		". button ."
		". otherforms.";
}

.welcome {
	grid-area: welcome;
}

.link {
	grid-area: link;
}

.firstname {
	grid-area: firstname;
}

.lastname {
	grid-area: lastname;
}

.email {
	grid-area: email;
}

.password {
	grid-area: password;
}

.confirmpassword {
	grid-area: confirmpassword;
}

.register-button {
	grid-area: button;
}

.otherforms {
	grid-area: otherforms;
}