.register {  
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
	grid-template-areas:
			". main ."
			"footer footer footer";
}

.register-form {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-areas:
		". welcome ."
		". link ."
    ". email ."
    ". password ."
		". confirmpassword ."
		". button .";
}

.welcome {
	grid-area: welcome;
}

.link {
	grid-area: link;
}

.email {
	grid-area: email;
}

.password {
	grid-area: password;
}

.confirmpassword {
	grid-area: confirmpassword;
}

.register-button {
	grid-area: button;
}
